<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Face Auth App</h1>
</md-toolbar>

<md-content>
      <md-list flex>
        <a ui-sref="dashboard">
          <md-list-item class="md-2-line" ng-click="null">
            <md-icon>face</md-icon>
            <div class="md-list-item-text" layout="column">
              <h3>Dashboard</h3>
              <p>Authentifizierung</p>
            </div>
          </md-list-item>
        </a>
        <md-divider ></md-divider>
        <a ui-sref="settings">
          <md-list-item class="md-2-line" ng-click="null">
            <md-icon>settings</md-icon>
            <div class="md-list-item-text" layout="column">
              <h3>Einstellungen</h3>
              <p>App-Einstellungen und Nutzerübersicht</p>
            </div>
          </md-list-item>
        </a>
      </md-list>
    </md-content>