<md-tabs md-dynamic-height>
    <!--<md-tab label="Nutzerdetails" ng-disabled="vm.acceptedSnapshots() != 3">-->
    <md-tab label="Einstellungen">
    <div class="md-padding">
        <h2 class="center md-headline"> Einstellungen </h2>
        <p class="md-body-1">
            Hier kannst du Einstellungen für die Microsoft Cognitive Services API bearbeiten.
            Es muss ein gültiger API-Key und eine PersonGroup angelegt werden.
        </p>
        <div>
            <div layout-padding>
                <md-list-item class="secondary-button-padding" ng-click="vm.editApiKey($event)">
                    <p>Cognitive API Key</p>
                    <pre> {{vm.settings.apiKey}} </pre>
                    <md-checkbox class="md-secondary" ng-checked="vm.settings.apiKey != undefined"></md-checkbox>
                </md-list-item>

                <md-list-item class="secondary-button-padding" ng-click="vm.editPersonGroup($event)">
                    <p>API Person Groups</p>
                    <pre> {{vm.settings.personGroup}} </pre>
                    <md-checkbox class="md-secondary disabled" ng-checked="vm.settings.personGroup != undefined"></md-checkbox>
                </md-list-item>

            </div>
            <h3 class="md-headline">
                Achtung!
            </h3>
            <p class="md-body-1">
                Sobald du die personGroup änderst, werden alle Nutzer in der App gelöscht.
            </p>
            <p class="md-body-1">
                Da die Microsoft Cognitive Services API immer nur eine personGroup durchsucht, können Gesichter in anderen Gruppen nicht mehr 
                identifiziert werden.
            </p>
            <p class="md-body-1">
                Bitte warte ein paar Minuten nach dem Anlegen einer personGroup. Andernfalls ist bei der ersten Registrierung der Trainingsmodus
                noch nicht beendet. Währenddessen können keine weiteren Gesichter angelegt werden - die API wird unerwartete Ergebnisse zurückliefern.
            </p>

            
        </div>
    </div>
    </md-tab>
    <md-tab label="Nutzerverzeichnis">
    <md-content class="md-padding">
        <div>
        <md-content layout-padding>
        </md-content>
        </div>
    </md-content>
    </md-tab>
</md-tabs>
